@charset "UTF-8";

* {
	text-decoration: none;
	box-sizing: border-box;
	text-align: center;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	padding-top: 120px;
}

.card .img-fluid {
  max-height: 200px; /* 이미지 최대 높이 값 */
  width: 100%;
  object-fit: contain; /* 이미지가 요소에 맞추어 비율을 유지하도록 설정 */
  display: block;
  margin: 0 auto;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-30%);
  z-index: 9999;
}

.col col-sm-6 col-md-3{
	margin-bottom: 20px;
}

table {
	display: flex;
	justify-content: center;
	width: 80%;
}

header #logo {
	display: inline-block;
	justify-content: center;
	margin: 0 10% 0 15%;
}



header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #fff;
	z-index: 9999;
}

.login {
	display: inline-block;
	margin-left: 10%;
	background-color: #02b875;
	width: 100px;
	height: 40px;
	border-radius: 5px;
	color: #fff;
}

.login:hover {
	background-color: #0069d9;
}

.logout {
	display: inline-block;
	background-color: #02b875;
	width: 100px;
	height: 40px;
	border-radius: 5px;
	color: #fff;
	align-items: center;
}

.logout:hover {
	background-color: #0069d9;
}

.user {
	display: inline-block;
}

.basket {
	display: inline-block;
}

.myinfo {
	display: inline-block;
}

.order_detail {
	display: inline-block;
	margin-right: 10px;
}

.basket_button {
	display: flex;
	flex-direction: column;
	background-color: #02b875;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	color: #fff;
	align-items: center;
}

.basket_button svg {
	margin-top: 5px;
	width: 25px;
	height: 25px;
}

.basket_button div {
	display: inline-block;
	opacity: 0;
}

.basket_button div:hover {
	opacity: 1;
}

.order_detail_button {
	display: flex;
	flex-direction: column;
	background-color: #02b875;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	color: #fff;
	align-items: center;
}

.order_detail_button svg {
	margin-top: 5px;
	width: 25px;
	height: 25px;
}

.order_detail_button div {
	display: inline-block;
	opacity: 0;
}

.order_detail_button div:hover {
	opacity: 1;
}

.myinfo_button:hover {
	background-color: #0069d9;
}

.basket_button:hover {
	background-color: #0069d9;
}

.order_detail_button:hover {
	background-color: #0069d9;
}

.myinfo_button {
	display: flex;
	flex-direction: column;
	background-color: white;
	width: 40px;
	height: 40px;
	border-radius: 5px;
	color: #fff;
	align-items: center;
	background-color: #02b875;
}

.myinfo_button svg {
	margin-top: 5px;
	width: 25px;
	height: 25px;
}

.join {
	display: inline-block;
	margin-left: 10px;
	background-color: #02b875;
	width: 100px;
	height: 40px;
	border-radius: 5px;
	color: #fff;
}

.join:hover {
	background-color: #0069d9;
}

header #logo img {
	width: 200px;
}

session {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

header {
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: #02b875;
	padding-bottom: 20px;
}

footer {
	display: inline-block;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}

.search_button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 12px 20px 10px 4px;
	line-height: 10px;
	outline: none;
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
}

.search_main {
	padding: 0;
	margin-left: 0;
	display: inline-block;
	width: 218px;
	align-items: center;
}

.search_div {
	width: 200px;
	position: relative;
	height: 40px;
	padding: 2px 40px 0 20px;
	box-sizing: border-box;
	background-color: transparent;
	border: 1px solid black;
	border-radius: 20px;
	background-clip: padding-box;
}

.keyword {
	height: 36px;
	background-color: transparent;
	border: none;
	line-height: 36px;
	font-size: 12px;
	color: black;
	outline: none;
}

input::placeholder {
	color: black;
}

.search_span {
	background-image:
		url(https://static-resource-smartstore.pstatic.net/brandstore/p/static/20230313110054/img/sprite/svg/spIcon_svg.svg);
	background-size: 756px 723px;
	background-position: -28px -682px;
	width: 16px;
	height: 16px;
	display: inline-block;
	background-color: transparent;
	vertical-align: top;
}

.blind {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	clip: rect(0, 0, 0, 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
}

.slide {
	width: 1200px;
	height: 511px;
	display: inline-block;
	justify-content: center;
}

.modal-footer {
	display: inline-block;
	justify-content: center;
}

.login_api img {
	width: 35px;
	height: 35px;
}

.new_item {
	margin: 50px;
	width: 80%;
	display: flex;
	flex-direction: column;
}

h1 {
	display: flex;
	justify-content: flex-start;
	margin-left: 5%;
}

.best_item {
	margin: 50px;
	width: 80%;
	display: flex;
	flex-direction: column;
}

.item_content {
	background-image: cover;
	margin: 0 5%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border: 1px solid;
}

.itemlist img {
	width: 150px;
	height: 150px;
}

.text_box {
	background-color: gray;
	color: white;
}

.payment {
	width: 1200px;
}

.payment_content {
	display: flex;
	justify-content: flex-start;
	font-size: large;
	margin: 20px 0 0 20px;
}

.wrapper {
	width: 1200px;
	padding: 40px 0 120px;
	background: #f5f5f5;
	border-radius: 8px;
	margin-bottom: 10px;
}

.info {
	margin-left: 10px;
	width: 400px;
	display: flex;
	justify-content: flex-start;
}

.wrapper .session_left {
	margin-left: 50px;
	float: left;
	width: 500px;
}

.wrapper .session_right {
	margin-right: 50px;
	float: right;
	width: 500px;
}

.innerBox {
	padding: 30px;
	box-sizing: border-box;
}

.innerBox p {
	display: flex;
	justify-content: flex-start;
}

.info {
	margin: 35px 0 0 35px;
}

.name {
	margin-bottom: 10px;
}

.discount_info {
	margin-top: 20px;
}

.session_right {
	border: 1px solid #333;
	border-radius: 8px;
	background: #fff;
}

.session_left {
	border: 1px solid #333;
	border-radius: 8px;
	background: #fff;
}

.payment-button {
	display: inline-block;
	padding: 10px 20px;
	width: 100%;
	background-color: #02b875;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
}

.payment-button:hover {
	background-color: #0069d9;
}

.product_content, .discount_content, .shipping_content {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 20px;
	display: inline-block;
	width: 100%;
}

.price_box {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 20px;
	display: inline-block;
	width: 100%;
	margin: 10px 0;
}

.product-price, .discount_price, .total_price {
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
}

.product-label {
	font-weight: bold;
}

.product-value {
	color: #007bff;
}

.mileage_button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #02b875;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
}

.mileage_button:hover {
	background-color: #0069d9;
}

.coupon_button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #02b875;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
}

.coupon_button:hover {
	background-color: #0069d9;
}

.mileage, .coupon {
	margin-bottom: 10px;
	display: flex;
	justify-content: space-between;
}

.address {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.address_button {
	display: inline-block;
	padding: 10px 20px;
	background-color: #02b875;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px;
}

.modify_address_button{
	background-color: #02b875;
	color: #fff;
	font-size: 10px;
	font-weight: bold;
	border-radius: 5px;
	height:30px;
	width:60px;
}

.content_mid_end{
	width:10%;
}
.address_button:hover {
	background-color: #0069d9;
}


.innerBox .name, .innerBox .phone {
	display: flex;
	justify-content: flex-start;
}

.product_container {
	width: 80%;
}

.product_top {
	display: flex;
	flex-direction: row;
}

.product_top_left {
	float: left;
	left: 30px;
	width: 50%;
}

.product_top_left img {
	width: 85%;
}

.product_ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	list-style: none;
	margin-top: 10px;
}

.product_ul li {
	text-align: center;
	margin: 0 10px;
}

.product_ul li img {
	width: 50px;
	height: 50px;
	border: 1px solid black;
}

.product_ul li img:hover {
	border: 2px solid black;
}

.product_top_right {
	justify-content: center;
	align-items: center;
}

.cp_down {
	background-color: lightgreen;
}

dl, dd {
	display: flex;
}

dt {
	width: 33%;
	padding-left: 10px;
	text-align: left;
}

dd input {
	width: 50px;
}

.up {
	cursor: pointer;
	background-color: #02b875;
	/* background: url(../img/btn_num_up.png) 0 0 no-repeat; */
}

.down {
	cursor: pointer;
	/* background: url(../img/btn_num_down.png) 0 0 no-repeat; */
}

.pdt_head {
	text-align: center
}

.pdt_btn3 button:hover {
	background-color: #4582ec;
}

.myinfo_container .session {
	width: 1200px;
	display: flex;
	justify-content: center;
}

.myinfo_content {
	width: 800px;
	box-sizing: border-box;
	border: 1px solid gray;
	margin: 10px;
	border-radius: 8px;
}

.myinfo_top_content {
	display: inline-block;
	text-align: center;
	height: 100%;
}

.myinfo-top-content_container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.myinfo_button, .basket_button, .order_detail_button {
	display: flex;
	justify-content: center;
}

.content_top {
	display: flex;
	flex-direction: row;
}

.content_top h3 {
	display: inline-block;
	flex-direction: row;
	margin: 10px 0 10px 20px;
	width: 80%;
}

.content_top button {
	display: inline-block;
	width: 20%;
}

.mid_name, .mid_address, .mid_phone_no, .mid_email, .mid_mileage,
	.mid_coupon, .mid_money {
	width: 100%;
	display: flex;
	flex-direction: row;
	border: 1px solid gray;
	justify-content: space-around;
	padding: 10px;
}

.info_name, .info_phone_no, .info_address, .info_email, .info_mileage,
	.info_coupon, .info_money {
	display: flex;
	width: 30%;
	margin: 0;
	padding: 0;
	justify-content: center;
}

.user_name, .user_address, .user_phone_no, .user_email, .user_mileage,
	.user_coupon, .user_money {
	width: 40%;
	margin: 0;
}

.cate_list {
	display: inline-block;
	justify-content: space-around;
	width: 1200px;
}

.cate_img img {
	width: 1200px;
	height: 511px;
}

.cate_name {
	margin: 20px 0 0 50px;
	display: flex;
	justify-content: flex-start;
}

.footer_container {
	display: flex;
	background-color: lightgray;
	width: 100%;
	align-items: center;
	justify-content: center;
	background-color: lightgray;
}

.item_heart img, .item_cart img {
	width: 25px;
}

.msg {
	display: flex;
	justify-content: center;
}

.join_content td {
	display: flex;
	justify-content: flex-start;
}

.join_container {
	width: 1200px;
	margin-top: 20px;
}

.join_content {
	width: 100%;
	margin-bottom: 20px;
}

.join_outh {
	margin: 20px 0 20px 0;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
}

.myOrder_header {
	width: 100%;
}

.myOrder_content td, .myOrder_content th {
	border: 1px solid black;;
}

.myOrder_content table {
	width: 100%;
}

.shipping_info input {
	margin-bottom: 10px;
	width: 70%;
	display: flex;
	justify-content: flex-start;
}

.product_content_name, .product_content_qty, .product_content_price,
	.product_content_delivery_date {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.itemsinsert_content td {
	display: flex;
	justify-content: flex-start;
}

.itemsinsert_container {
	width: 1200px;
	margin-top: 20px;
}

.itemsinsert_content {
	width: 100%;
	margin-bottom: 20px;
}

.itemsinsert_footer {
	margin-bottom: 20px;
}

.pdt_review{
	display:flex;
	flex-direction:row;
	width:100%;
	
}
.pdt_review_rating,.pdt_review_content,.pdt_review_writer,.pdt_review_date{
	width:25%;
	border:1px solid;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

#myform fieldset{
    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    border: 0; /* 필드셋 테두리 제거 */
}
#myform input[type=radio]{
    display: none; /* 라디오박스 감춤 */
}
#myform label{
    font-size: 25px; /* 이모지 크기 */
    color: transparent; /* 기존 이모지 컬러 제거 */
    text-shadow: 0 0 0 #f0f0f0; /* 새 이모지 색상 부여 */
}
#myform label:hover{
    text-shadow: 0 0 0 #a00; /* 마우스 호버 */
}
#myform label:hover ~ label{
    text-shadow: 0 0 0 #a00; /* 마우스 호버 뒤에오는 이모지들 */
}
#myform fieldset{
    display: inline-block; /* 하위 별점 이미지들이 있는 영역만 자리를 차지함.*/
    direction: rtl; /* 이모지 순서 반전 */
    border: 0; /* 필드셋 테두리 제거 */
}
#myform fieldset legend{
    text-align: left;
}
#myform input[type=radio]:checked ~ label{
    text-shadow: 0 0 0 #a00; /* 마우스 클릭 체크 */
}
