<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.cart">
	<resultMap type="com.basic.storeG.vo.Cart" id="cart">
		<id column="cart_no" property="cart_no" />
		<result column="name" property="name" />
		<result column="itmes" property="items" />
	</resultMap>

</mapper>
  