<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.order">
	<resultMap type="com.basic.storeG.vo.Order" id="order">
		<id column="order_no" property="orderNo" />
		<result column="item" property="item" />
		<result column="address" property="address" />
		<result column="name" property="name" />
		<result column="phone_number" property="phoneNumber" />
		<result column="sales_price" property="salesPrice" />
		<result column="discount_price" property="discountPrice" />
		<result column="total_price" property="totalPrice" />
		<!-- <result column="order_date" property="orderDate" /> -->
		<result column="delivery_status" property="deliveryStatus" />
		<result column="cart_no" property="cart_no" />
	</resultMap>

	<insert id="insertOrder" parameterType="Order">
		INSERT INTO orders (
		item, address, name, phone_number, sales_price, discount_price,
		total_price, delivery_status, cart_no
		) VALUES (
		#{item}, #{address},
		#{name}, #{phoneNumber}, #{salesPrice}, #{discountPrice},
		#{totalPrice}, #{deliveryStatus}, #{cart_no}
		)
	</insert>

	<select id="getMyOrderList" parameterType="string"
		resultMap="order">
		SELECT *
		FROM orders
		WHERE name = #{id}
	</select>

	<update id="updateItemQty" parameterType="int">
		UPDATE items
		SET qty =
		qty - 1
		WHERE item_no = #{item_no}
	</update>

	<delete id="deleteOrder" parameterType="int">
		DELETE FROM orders
		WHERE order_no = #{order_no}
	</delete>
	
	<select id="getAllOrderList" resultType="Order">
    SELECT * FROM orders
  </select>

</mapper>
